.wrapper {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 200px); /* 헤더 높이만큼 빼기 */
}
.content {
    flex: 1;
    align-self: flex-start;
    padding: 30px 0;
    max-width: 1000px;
    min-width: 0;
    margin-left: 20px;
    margin-right: auto;
  	position: relative;
}
.sideMenu {
	position: relative;
    top: 200px;
}
/*제목*/
.title { /* 컨텐츠 제목*/
  color: #65B741;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
td {    
    display: inline-block;
}
.subtitle { /* 컨텐츠 부제목*/
  font-size: 16px;
  color: #4d4d4d;
  margin-bottom: 60px;
}
.a td:first-child {
    margin-left: 5px;
    font-weight: bold;
    display: inline-block;
    width: 70px;
    margin-bottom: 10px;
}
.table {
	width: 100%;
	max-width:1000px;
}

.text {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: auto;
    width: 960px;
    line-height: 1.6;
    padding: 20px;
    margin: 10px auto;
    overflow-wrap: break-word;

}
.backBtn{
	font-size: 14px;
	color: white;
	padding: 3px 9px;
  	border-radius: 8px;
 	background-color: #FFB534;
  	text-decoration: none;
  	border: none;
}