/* 모달 */
.modal-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal {
    background: white;
    padding: 20px 40px;
    border-radius: 8px;
    width: 60%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.modal-wrapper p {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal ul {
    padding: 0;
    text-align: left;
    margin: 20px 20px;
}
.modal .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.modal .btn {
    flex: 1;
    padding: 8px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.modal .btn-subscribe {
    background-color: #65B741;
    color: white;
}

.modal .btn-subscribe:hover {
    background-color: #579d39;
}

.modal .btn-cancel {
    background-color: #D72638;
    color: white;
}

.modal .btn-cancel:hover {
    background-color: #c1212f;
}