#header {
	width: 100%;
	height: 80px;
	/* width: max-content; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
	border-bottom: 1px solid #f3f3f3;
}

#content {
	width: calc(100vw - 220px);
	padding-left: 220px;
}

#wrapper {
	width: 1280px;
	margin: 40px auto;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notice_header {
	width: 1280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	flex-direction: column;
}

#title {
    font-size: 30px;
    color: #65B741;
    font-weight: bold;
    margin-bottom: 10px;
    align-self: flex-start;
}

#new_notice {
	width: 100px;
	height: 36px;
	font-size: 16px;
	/* font-weight: bold; */
	background-color: #65b741;
	border-radius: 8px;
	border: none;
	color: white;
	cursor: pointer;
	align-self: flex-end;
}

#notice_table {
	min-width: 1280px;
	width: 100%;
	overflow-y: auto;
}

#new_notice:hover {
	background-color: #579d39;
}

.table {
	width: 100%;
}

.th {
	font-weight: bold;
}

.tr {
	border-bottom: 1px solid #ddd;
}
tbody>.tr:hover {
	background-color: #FBF6EE;
}
.th, .td{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:14px;
}

.td:nth-child(3) {
	width: 400px;
}

.ellipsis {
	max-width: 400px; /* 적당히 조절 가능 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.updateBtn {
	width: 46px;
	height: 26px;
	background-color: #ffb534;
	border: 0;
	border-radius: 4px;
	color: white;
}

.deleteBtn {
	width: 46px;
	height: 26px;
	background-color: #d72638;
	border: 0;
	border-radius: 4px;
	color: white;
}

.updateBtn:hover {
	background-color: #e6a42f;
}

.deleteBtn:hover {
	background-color: #c1212f;
}

/* 페이징 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination a.active {
  background-color: #65B741;
  color: white;
}