@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SUIT-Regular', sans-serif;
  box-sizing: border-box;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 220px);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  background-color: white;
  z-index: 10;
}

#content {
  margin: 80px 0 0 220px;
  padding: 40px 50px;
   overflow-x: auto;
}

.user_header {
  display: flex;
  align-items: center;
}

#title {
  font-size: 30px;
  color: #65B741;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 10px;
}

/* 🔍 필터 */
.filter-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: 20px 0;
}

.filter-form select,
.filter-form input[type="text"] {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.filter-form button {
	padding: 6px 20px;
	border-radius: 5px;
	border: none;
  font-size: 14px;
  background-color: #65B741;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filter-form button:hover {
  background-color: #4e9e32;
}

/* 📋 테이블 */
.table {
  width: 100%;
  min-width: 1200px;
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.table th {
	font-weight: bold;
	border-bottom: 2px solid #ccc;
	background-color: #FCFCFC;
	height: 30px;
}

.table tbody tr:hover {
  background-color: #FBF6EE;
}

/* 📄 페이징 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination a.active {
  background-color: #65B741;
  color: white;
}
