<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		 <typeAlias type="dto.buyer.Address" alias="address" />
		 <typeAlias type="dto.User" alias="user" />
    	<typeAlias type="vo.UserVO" alias="userVo"/>
		<typeAlias type="dto.buyer.KockFarm" alias="kockFarm" />	
		<typeAlias type="dto.buyer.KockComment" alias="kockComment" />
		<typeAlias type="dto.admin.CustomerService" alias="customerService" />	
		<typeAlias type="dto.admin.AdminQuestion" alias="adminQuestion" />
		<typeAlias type="dto.admin.AdminAnswer" alias="adminAnswer" />
		<typeAlias type="dto.admin.Notice" alias="notice" />
		<typeAlias type="dto.buyer.ProdQuestion" alias="prodQuestion"/>	
		<typeAlias type="vo.QuestionVO" alias="questionVo"/>
		<typeAlias type="dto.seller.ProdAnswer" alias="prodAnswer"/>
		<typeAlias type="dto.buyer.ProductOrder" alias="prodOrder"/>
		<typeAlias type="dto.buyer.ProductOrderItem" alias="prodOrderItem"/>				
    	<typeAlias type="vo.ProdOrderVO" alias="prodOrderVo"/>	</typeAliases>
		<typeAlias type="dto.buyer.BabyComment" alias="babyComment" />	
	</typeAliases>
		
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mariadb://localhost:3306/barofarm"/>
				<property name="username" value="root"/>
				<property name="password" value="7564"/>
			</dataSource>	
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mapper/address.xml" />
    	<mapper resource="mapper/user.xml"/>
		<mapper resource="mapper/kockFarm.xml" />
		<mapper resource="mapper/admin/notice.xml" />
		<mapper resource="mapper/prodQuestion.xml"/>
		<mapper resource="mapper/productOrder.xml"/>
		<mapper resource="mapper/customerService.xml" />
	</mappers>
</configuration>