<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="dto.buyer.Address" alias="address" />
		<typeAlias type="dto.User" alias="user" />
		<typeAlias type="vo.UserVO" alias="userVo" />
		<typeAlias type="dto.buyer.KockFarm" alias="kockFarm" />
		<typeAlias type="dto.buyer.KockComment" alias="kockComment" />
		<typeAlias type="dto.admin.CustomerService"	alias="customerService" />
		<typeAlias type="dto.admin.AdminQuestion" alias="adminQuestion" />
		<typeAlias type="dto.admin.AdminAnswer" alias="adminAnswer" />
		<typeAlias type="dto.admin.Notice" alias="notice" />
		<typeAlias type="dto.buyer.ProdQuestion" alias="prodQuestion" />
		<typeAlias type="vo.QuestionVO" alias="questionVo" />
		<typeAlias type="dto.seller.QuestionAnswer" alias="questionAnswer" />
		<typeAlias type="dto.buyer.ProductOrder" alias="prodOrder" />
		<typeAlias type="dto.buyer.ProdReview" alias="prodReview" />
		<typeAlias type="vo.ProdReviewVO" alias="prodReviewVO" />
		<typeAlias type="dto.buyer.PackageOrder" alias="packOrder" />
		<typeAlias type="dto.buyer.ProductOrderItem" alias="prodOrderItem" />
		<typeAlias type="vo.ProdOrderVO" alias="prodOrderVo" />
		<typeAlias type="dto.buyer.BabyComment" alias="babyComment" />
		<typeAlias type="dto.buyer.Matching" alias="matching" />
		<typeAlias type="dto.seller.SellerDetail" alias="seller" />
		<typeAlias type="dto.admin.Store" alias="store" />
		<typeAlias type="dto.seller.Product" alias="product" />
		<typeAlias type="dto.seller.ProductOption" alias="productOption" />
		<typeAlias type="vo.PackOrderVO" alias="packOrderVo" />
		<typeAlias type="vo.AdminQuestionVO" alias="adminQuestionVO" />
		<typeAlias type="dto.seller.Advertisement" alias="advertisement" />
		<typeAlias type="dto.seller.Point" alias="point" />
		<typeAlias type="dto.seller.UsePoint" alias="usePoint" />
		<typeAlias type="vo.MyPageSummaryVO" alias="myPageVo" />
		<typeAlias type="vo.KockFarmVO" alias="kockFarmVo" />
		<typeAlias type="vo.KockCommentVO" alias="kockCommentVo" />
		<typeAlias type="dto.admin.Banner" alias="banner" />
		<typeAlias type="util.SearchDtoSoy" alias="searchDtoSoy" />
		<typeAlias type="dto.seller.PackageProduct" alias="packageProduct" />
		<typeAlias type="dto.buyer.ShoppingCartItem" alias="shoppingCartItem" />
		<typeAlias type="vo.ProductVO" alias="ProductVO" />
		<typeAlias type="vo.SellerVO" alias="sellerVO" />
		<typeAlias type="vo.PackageVO" alias="PackageVO" />
		<typeAlias type="vo.PackReviewVO" alias="packReviewVO" />
		<typeAlias type="vo.PackSubVO" alias="packSubVO" />	
		<typeAlias type="vo.ProdCancelVO" alias="prodCancelVO" />			
		<typeAlias type="dto.seller.Alarm" alias="alarm" />
		<typeAlias type="vo.PackReviewVO" alias="packReviewVO" />
		<typeAlias type="dto.buyer.PackageSubscribe" alias="packageSubscribe" />
		<typeAlias type="vo.AdminProdOrderVO" alias="adminProdOrderVO" />
		<typeAlias type="vo.AdminPackOrderVO" alias="adminPackOrderVO" />
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url" value="jdbc:mariadb://localhost:3306/barofarm" />
				<property name="username" value="root" />
				<property name="password" value="1234" />
				<property name="poolMaximumActiveConnections" value="500"/>
				<property name="poolMaximumIdleConnections" value="500"/>
			</dataSource>
		</environment>
	</environments>
    
	<mappers>
		<mapper resource="mapper/address.xml" />
		<mapper resource="mapper/user.xml" />
		<mapper resource="mapper/kockFarm.xml" />
		<mapper resource="mapper/admin/notice.xml" />
		<mapper resource="mapper/prodQuestion.xml" />
		<mapper resource="mapper/packQuestion.xml" />
		<mapper resource="mapper/productOrder.xml" />
		<mapper resource="mapper/prodReview.xml" />
		<mapper resource="mapper/packReview.xml" />
		<mapper resource="mapper/packageOrder.xml" />
		<mapper resource="mapper/customerService.xml" />
		<mapper resource="mapper/seller.xml" />
		<mapper resource="mapper/product.xml" />
		<mapper resource="mapper/adminQuestion.xml" />
		<mapper resource="mapper/advertisement.xml" />
		<mapper resource="mapper/point.xml" />
		<mapper resource="mapper/usePoint.xml" />
		<mapper resource="mapper/myPageSummary.xml" />
		<mapper resource="mapper/banner.xml" />
		<mapper resource="mapper/packageProduct.xml" />
		<mapper resource="mapper/shoppingCart.xml" />
		<mapper resource="mapper/payment.xml" />
		<mapper resource="mapper/alarm.xml" />
		<mapper resource="mapper/packReview.xml" />
		<mapper resource="mapper/packageSubscribe.xml" />
	</mappers>
</configuration>