
body {
	flex-direction: column;
}
#header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 220px);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  background-color: white;
}

#info {
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

#email {
  font-size: 16px;
  color: #ffb534;
}
.wrapper {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 200px); /* 헤더 높이만큼 빼기 */
}

.content {
    max-width: 1000px;
    min-width: 0;
    margin-left: 20px;
    margin-right: auto;
  	position: relative;
  	padding-top: 80px !important;
  	margin: 40px auto !important;
    padding-left: 220px !important;
}
.sideMenu {
	position: relative;
    top: 200px;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.content-header h2 {
  margin: 0;
  color: #65B741;
  font-size: 30px;
}

.points {
  text-align: right;
}

.points .amount {
  font-size: 18px;
  font-weight: bold;
}

.points .amount::before {
  content: "💰 ";
}

.notice {
  color: red;
  font-size: 13px;
  text-align: right;
  margin-top: 5px;
}

.form-group {
  display: flex;
}

form label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

form input[type="text"],
form input[type="date"] {
  width: 280px;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  height: 100px;
  resize: none;

  width: 100%;
  padding: 6px;
  margin: 6px 0px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
  padding-right: 10px;
  align-items: center;
}

.form-row .half {
  flex: 1;
}

.form-row .half input {
  width: 90%;
}

.upload-btn {
  background-color: #b9eaa3;
  border: none;
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.info-text {
  font-size: 12px;
  color: #888;
  margin-left: 10px;
}

.buttons {
    text-align: right;
    margin-bottom: 20px;
}
.btn {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 8px;
    width: 100px;
    font-weight: bold;
}
.btn-list { background-color: #65B741; color: white; }
.btn-edit { background-color: #FFB534; color: white; }
.btn-delete { background-color: #D72638; color: white; }
.btn-list:hover { background-color: #579d39;}
.btn-edit:hover { background-color: #e6a42f;}
.btn-delete:hover { background-color: #c1212f;}
.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
