@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: SUIT-Regular, sans-serif;
}
#header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 220px);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  background-color: white;
}

#info {
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

#email {
  font-size: 16px;
  color: #ffb534;
}#content {
  width: calc(100vw - 220px);
  max-width: 1280px;
  margin: 40px auto;
  padding-top: 80px;
  gap: 20px;
  padding-left: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    right: 0;
  
}
#title {
  font-size: 32px;
  align-self: flex-start;
}
tbody tr:hover {
    background-color: #FBF6EE;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    font-size: 14px;
    text-align: left;
}

.table th:nth-child(1),.table td:nth-child(1){
    width: 25px;
    padding: 0 20px;
    text-align: center;
}

.table th:nth-child(2),.table td:nth-child(2){
    width: 60px;
    text-align: center;
}

.table th:nth-child(3),.table td:nth-child(3){
    padding-left: 20px;
}

.table th:nth-child(4),.table th:nth-child(5),
.table td:nth-child(4),.table td:nth-child(5) {
    text-align: right;
    width: 80px;
    padding-right: 20px;
}

/* 오버플로우 방지 */
.table td:nth-child(3) {
    max-width: 200px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .table td:nth-child(3) a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
#title{
    font-size:30px;
    color:#65B741;
    font-weight: bold;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
}

.on-sale {
    background-color: #65B741;
    color: white;
}

.stopped {
    background-color: #D72638;
    color: white;
}

.actions {
    width:70%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    padding-right: 10px;
}
.actions button {
    margin-left: 10px; /* 버튼 간격 추가 */
}
.btn {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete {
    background-color: #D72638;
    color: white;
}

.edit {
    background-color: #FFB534;
    color: white;
}

.add {
    background-color: #65B741;
    color: white;
}