.wrapper {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 200px); /* 헤더 높이만큼 빼기 */
}
.content {
    flex: 1;
    align-self: flex-start;
    padding: 30px 0;
    max-width: 1000px;
    min-width: 0;
    margin-left: 20px;
    margin-right: auto;
  	position: relative;
}
h2{
    font-weight: bold;
}
p{
    height: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #FFB534;
}
.listTitle{ 
    font-size: 30px;
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}
/* 캐러셀 */
.carousel {
	min-width:1000px;
}
.carousel-item{
   height: 350px;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 상품 목록 스타일 */
.product-list {
    display: flex;
    gap: 40px 15px;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;    
}
.productName {
    width: 150px;  /* 더 넓게 설정 */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.productImgBox img{
  width: 185px;
  height: 195px;
  display: flex;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 18px;
}
.productName {
    width: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.product p {
    margin: 7px;
    cursor: default;
}
.product p:last-child {
    margin: 0 0 0 3px; 
}
.price {
    font-weight: bold;
}
.reviewScore {
    color: #FF9800;
}
/* 버튼 스타일 */
.viewMore {
	text-align:center;
	max-width:150px;
    display: block;
    margin: 50px auto;
    padding: 8px;
    border-radius: 8px;
    background-color: #65B741;
    color: white;
    border: none;
    cursor: pointer;
}
/* 공지사항 및 문의하기 */
.infoSection {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.notice, .faq {
    
    width: 500px;
}
.noticeHeader, .faqHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.notice ul, .faq ul {
    padding-left: 10px;
}
.notice ul li, .faq ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}