/* 제목 스타일 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: SUIT-Regular, sans-serif;
}

body {
    margin: 20px;
}
.header {
     font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.wrapper {
	display: flex;
	flex-direction: row;
	min-height: calc(100vh - 200px); /* 헤더 높이만큼 빼기 */
}

.content {
	flex: 1;
	align-self: flex-start;
	padding: 30px 0;
	max-width: 1000px;
	min-width: 0;
	margin-left: 20px;
	margin-right: auto;
	position: relative;
}
.sideMenu {
	position: relative;
}
.selectBox{
	margin-top: 15px;
	width:100%;
    display: flex;
    justify-content: flex-end;
}
.selectBox select, .selectBox input {
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 12px;
    color: #333;
    margin-bottom:5px;
    text-align:left;
}
.selectBox input {
	height: 17px;
}
.selectBox button {
    font-size: 14px;
	color: white;
	padding: 6px 14px;
  	border-radius: 4px;
  	text-decoration: none;
  	border: none;
  	background-color: #65B741;
}
/* 꾸러미 목록 테이블  */
.tableWrapper {
    width: 100%;
    margin-top: 10px;
    overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.table td {
	height: 34px;
}
.table th {
	border-bottom: 2px solid #ccc;
	background-color: #FCFCFC;
	height: 30px;
}
.table th:nth-child(3), .table td:nth-child(3) {
    width:170px;
}
/* 오버플로우 방지 */
.table td:nth-child(3) {
    max-width: 250px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
tbody > tr:hover  {
    background-color: #FBF6EE;
}
/* 페이징 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;  /* 버튼 사이 간격 */
    margin-top: 20px;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;  /* 동그랗게 */
    border: none;
    background-color: transparent;  /* 기본은 투명 */
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination a:hover {
    background-color: #f0f0f0;  /* 살짝 회색 호버 효과 */
}

.pagination a.active {
    background-color: #65B741;  /* ✅ 메인 그린 */
    color: white;
}
.close-notif {
	padding: 4px 10px;
    background-color: #65B741;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.close-notif:hover {
    background-color: #4e9e32;
}

a:hover {
    color: #65B741;
}
 a {
	text-decoration: none;
	color:black;
}
